
.contact-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.contact-title {
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 25px;
    font-style: normal;
}