* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  /* padding: 32px 30px; */
  font-family: 'Josefin Sans';
  width: 100%;
  height: 100%;
}

.skip {
  // animation: appear 1s 1s forwards;
  animation: none;
  opacity: 1;
  & h1, .intro, .avatar-container {
    animation: none;
    opacity: 1;
  }
  & .hi, .drop-container,.drop-container:before, .drop-container:after  {
    animation: none;
    visibility: hidden;
  }
}
.hide {
  visibility: hidden;
}

main {
  background: linear-gradient(180deg, #015871 39px, #474747 90%);
  color: white;
  background-color: #015871;
  display: flex;
  flex-direction: column;
  /* padding: 32px 30px; */
  padding: 5px 12px;
  /* margin-top: 182px; */
  opacity: 0;
  animation: appear 8s 8s forwards;
}

.pumpkin {
  background: transparent;
  position: absolute;
  color: white;
  top: 18px;
  right: 14px;
  opacity: 0;
  animation: disappear 9s  forwards;
}

/* .cloud {
  z-index: 8;
  position: absolute;
  width: 111%;
  right: 91px;
  top: 16px;
} */

/* nav {
  text-align: right;
  display: flex;
  top: 0;
  width: 100%;
  left: 0;
  padding-left: 18px;
  padding-top: 13px;
  margin-left: -6px;
  padding-bottom: 15px;
  position: fixed;
  z-index: 100;
} */

/* .hi {
  position: absolute;
  top: 105px;
  left: 0px;
  right: 0;
  text-align: center;
  opacity: 0;
  animation: disappear 1.3s 2.5s forwards ;
}

.im {
  position: absolute;
  top: 105px;
  left: 0px;
  right: 0;
  text-align: center;
  opacity: 0;
  animation: disappear 4.5s 3.5s forwards;
}

.david {
  position: relative;
  bottom: 87px;
  right: 88px;
  color: white;
  text-shadow: 0 0 12px white;
  opacity: 0;
  animation: appear 3s 4.7s forwards;
}

.acosta {
  position: relative;
  bottom: 126px;
  left: 61px;
  color: white;
  text-shadow: 0 0 12px white;
  opacity: 0;
  animation: appear 3s 5.5s forwards;
}

.acosta, .david {
  font-weight: lighter;
  font-size: 3.4rem;
} */